/* these 4 lines are the most important with respect to styling the control */
.calendar{background:#FFF;}
.calendar table{color:#333 ; width: 100%; height: 100%;}
.calendar table td.hover{background:#EAEAEA;color:#444;}
.calendar table td.today{background:#efefef;}
.calendar table td.weekend {color:#AAA;}
.calendar table tr.head td {font-weight:bold; font-size: 0.9em;}
.calendar table td.hl {font-weight: bold;}

.calendar table td.selected{background: #FFA900;color:#444;}
.calendar{overflow:auto;width:15em;height:15em;line-height:1em;-moz-user-select:none;-webkit-user-select: none;-khtml-user-select: none;user-select: none;}
.calendar table td{width:1.8em;text-align:center;cursor:pointer;}
